<header>
    <link rel="stylesheet" href="/public/css/header.css">
    <div class="logo">
        <img src="/public/img/CSKIN.png" alt="Logotipo">
    </div>
    <div class="login-button">
        <button>LOGIN</button>
    </div>
    <div class="options">
        
    </div>
</header>