* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #3a3a3a;
}

.opc {
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 100px;
}

.opc a {
    color: black;
    background-color: #d3d3d3;
    border-radius: 20px;
    padding: 50px;
    text-decoration: none;
}

.create {
    justify-content: space-between;
    display: flex;
}

.saves {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
