.profile{
    display: none;
    position: fixed;
    background-color: white;
    padding: 10px;
    top: 30%;
    left: 80%;
    border: 2px solid black;
    border-radius: 10px;
}


#name-profile,#email-profile{
    background-color: white;
}
.logout{
    position: fixed;
    border: 1px solid black;
}

.logout-confirmation{
    display: none;
}