<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cskin</title>
</head>
<body>
    <link rel="stylesheet" href="../public/css/exec.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <%- include('components/header.ejs')%>
    <%- include('components/login.ejs')%>
    <script src="/public/scripts/login.js"></script>
    <script src="/public/scripts/script.js"></script>
</body>
</html>