<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cskin</title>
</head>
<body>
    <link rel="stylesheet" href="../public/css/exec.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <%- include('components/header.ejs')%>
    <%- include('components/login.ejs')%>
    <div class="container-exec" id="container-exec">
        <div class="opc-exec" id="opc-exec">
        <input type="checkbox" > Opção 1 
        </div> 
        <div class="actions-exec" id="actions-exec">
            <div class="save-exec" id="save-exec">
                <button>SALVAR EXEC</button>
            </div>
            <div class="create-exec" id="create-exec">
                <button>CRIAR EXEC</button>
            </div>
        </div>
    </div>
    <script src="/public/scripts/login.js"></script>
</body>
</html>