body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    background-color: #000;
  }

#header {
    background-color: #271db3; 
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: center; 
    color: white; 
    border: 2px solid #0f0d52; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
}
  
.menu-item {
    position: relative;
    padding: 10px;
    font-size: 35px;
  }
  
.submenu {
    font-size: 25px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    background-color: #163f74;
    border: 2px solid #0f0d52;
  }
  
.menu-item:hover .submenu {
    display: block;
  }

.carret{

  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 15px solid;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  color:darkgoldenrod;
}
#Container{
    display: flex;
}

.box{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:#271db3;
    height: 700px;
    border: 2px solid #0f0d52; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}
#Patterns{
    width: 18%;
    margin-right: 4%;
}

#Img{
    width: 56%;
    margin-right: 4%;
}
#Floats{
    width: 18%;
}