<header>
    <link rel="stylesheet" href="../../public/css/header.css">
    <div class="logo">
        <img src="/public/img/CSKIN.png" alt="Logotipo">
    </div>
    <div class="login">
        <button id="login-button">LOGIN</button>
        <button id="profile-button" style="display: none;">
            <img src="/public/img/profile.png" alt="profile">
        </button>
    </div>
</header>