<header>
    <link rel="stylesheet" href="../../public/css/header.css">
    <div class="logo">
        <img src="/public/img/CSKIN.png" alt="Logotipo">
    </div>
    <div class="login">
        <button id="login-button">LOGIN</button>
    </div>
</header>