<div class="profile" id="profile">
    <div class="data-profile" id="data-profile">
        <div id="name-profile"></div>
        <div id="email-profile"></div>
    </div>
    <div class="logout" id="logout">
        <button>Logout</button>
    </div>
</div>
<div class="logout-confirmation" id="logout-confirmation">
    Deseja fazer Logout?<br>
    <button id="cancel">Cancelar</button><br>
    <button id="confirmed">Sim</button>
</div> 