<div class="profile" id="profile">
    <div class="data-profile" id="data-profile">
        <div id="name-profile"></div>
        <div id="email-profile"></div>
    </div>
    <div class="logout" id="logout">
        logout
    </div>
</div>